<!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link rel="import" href="../lib/paper-material/paper-material.html">

<dom-module id="grapp-launcher-tile">

  <template>

    <!-- build:style inline grapp-launcher-tile -->
    <link href="grapp-launcher-tile.css" rel="stylesheet">
    <!-- /build -->

    <paper-material id="tile" class="layout vertical center-justified"
                    elevation="1" mouse-over$="[[_mouseOver]]"
                    on-mouseenter="_mouseEnter" on-mouseleave="_mouseLeave" on-tap="_launch">
      <div id="title">
        <template is="dom-if" if="[[faicon]]">
          <grapp-fa-icon icon="[[faicon]]"></grapp-fa-icon>
        </template>
        <template is="dom-if" if="[[icon]]">
          <iron-icon icon="[[icon]]"></iron-icon>
        </template>
        <template is="dom-if" if="[[label]]">
          <span>[[label]]</span>
        </template>
        <content select="[title]"></content>
      </div>
      <div id="info">
        <content select="[info]"></content>
      </div>
    </paper-material>

  </template>

  <!-- build:script inline grapp-launcher-tile -->
  <script src="grapp-launcher-tile.js"></script>
  <!-- /build -->

</dom-module>
