 <!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link href="../paper-shadow/paper-shadow.html" rel="import">

<polymer-element name="grapp-launcher-tile" attributes="name icon faicon label color">

  <template>

    <!-- build:style inline dist -->
    <link href="grapp-launcher-tile.css" rel="stylesheet">
    <!-- /build -->

    <paper-shadow  id="shadow" class="card" z="1">
      <div id="tile" mouseOver?="{{mouseOver}}" vertical center center-justified layout
           on-mouseenter="{{mouseEnter}}" on-mouseleave="{{mouseLeave}}" on-click="{{launch}}">
        <div id="title">
          <template if="{{faicon}}">
            <grapp-fa-icon icon="{{faicon}}"></grapp-fa-icon>
          </template>
          <template if="{{icon}}">
            <core-icon icon="{{icon}}"></core-icon>
          </template>
          <template if="{{label}}">
            {{label}}
          </template>
          <content select="[title]"></content>
        </div>
        <div id="info">
          <content select="[info]"></content>
        </div>
      </div>
    </paper-shadow>

  </template>

  <!-- build:script inline dist -->
  <script src="grapp-launcher-tile.js"></script>
  <!-- /build -->

</polymer-element>
